body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Paragraph-Style-1 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:37px;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-2 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-3 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.192;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Character-Style-1 {
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.Character-Style-2 {
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.Character-Style-3 {
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-bottom:9px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-2 {
	text-indent:31px;
}
p.ParaOverride-3 {
	margin-bottom:9px;
	margin-top:9px;
	text-align:right;
	text-indent:31px;
}
p.ParaOverride-4 {
	margin-bottom:9px;
	margin-top:9px;
	text-indent:0px;
}
p.ParaOverride-5 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-6 {
	text-align:right;
}
p.ParaOverride-7 {
	margin-bottom:0px;
}
p.ParaOverride-8 {
	margin-bottom:28px;
}
p.ParaOverride-9 {
	margin-bottom:9px;
}
p.ParaOverride-10 {
	margin-bottom:28px;
	text-align:right;
	text-indent:0px;
}
p.ParaOverride-11 {
	text-indent:0px;
}
p.ParaOverride-12 {
	margin-bottom:28px;
	text-align:right;
}
p.ParaOverride-13 {
	margin-bottom:28px;
	text-align:right;
	text-indent:255px;
}
p.ParaOverride-14 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-bottom:11px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-16 {
	margin-bottom:57px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-17 {
	text-align:justify;
	text-align-last:justify;
	text-indent:0px;
}
span.CharOverride-1 {
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"TF Srivichai", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:10px;
	vertical-align:super;
}
span.CharOverride-5 {
	font-size:12px;
	vertical-align:super;
}
span.CharOverride-6 {
	font-size:15px;
}
span.CharOverride-7 {
	font-size:13px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#221f20;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#221f20;
}
span.CharOverride-10 {
	color:#221f20;
	font-size:10px;
	vertical-align:super;
}
span.CharOverride-11 {
	font-size:13px;
}
#_idContainer001, #_idContainer002, #_idContainer004, #_idContainer005, #_idContainer006, #_idContainer007, #_idContainer013, #_idContainer016, #_idContainer017, #_idContainer021, #_idContainer023, #_idContainer028, #_idContainer029 {
	display:inline-block;
	height:24px;
	width:326px;
}
#_idContainer003 {
	display:inline-block;
	height:24px;
	width:34px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:112.89px;
	z-index:1;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.38px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer011 {
	display:inline-block;
	height:69px;
	position:relative;
	width:354px;
}
#_idContainer012, #_idContainer015, #_idContainer019, #_idContainer022, #_idContainer025, #_idContainer027 {
	display:inline-block;
	height:0px;
	position:relative;
	width:70px;
}
#_idContainer032, #_idContainer040, #_idContainer042 {
	display:inline-block;
	height:517px;
	width:872px;
}
#_idContainer035 {
	display:inline-block;
	height:518px;
	width:872px;
}
#_idContainer036, #_idContainer038, #_idContainer044 {
	display:inline-block;
	height:519px;
	width:872px;
}
#_idContainer046 {
	-ms-transform:translate(0.000px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:1;
}
#_idContainer047 {
	-ms-transform:translate(7.370px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.370px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(7.370px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.370px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer048 {
	-ms-transform:translate(18.574px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.574px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(18.574px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.574px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:2;
}
#_idContainer049 {
	-ms-transform:translate(0.000px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:4;
}
#_idContainer050 {
	-ms-transform:translate(0.833px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.833px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.833px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.833px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer051 {
	-ms-transform:translate(298.279px,15.465px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(298.279px,15.465px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:296.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(298.279px,15.465px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(298.279px,15.465px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:3;
}
#_idContainer052 {
	-ms-transform:translate(148.501px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(148.501px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(148.501px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(148.501px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:5;
}
#_idContainer053 {
	-ms-transform:translate(149.335px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(149.335px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(149.335px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(149.335px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:0;
}
#_idContainer054 {
	-ms-transform:translate(297.570px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.570px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.570px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.570px,50.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:6;
}
#_idContainer055 {
	-ms-transform:translate(298.404px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(298.404px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(298.404px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(298.404px,15.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:2;
}
#_idContainer056 {
	-ms-transform:translate(35.074px,28.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.074px,28.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.074px,28.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.074px,28.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:299.49px;
	z-index:7;
}
#_idContainer057 {
	-ms-transform:translate(148.535px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(148.535px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(148.535px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(148.535px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:5;
}
#_idContainer058 {
	-ms-transform:translate(160.440px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(160.440px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(160.440px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(160.440px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:3;
}
#_idContainer059 {
	-ms-transform:translate(183.576px,27.852px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.576px,27.852px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.576px,27.852px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.576px,27.852px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:8;
}
#_idContainer060 {
	-ms-transform:translate(298.279px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(298.279px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(298.279px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(298.279px,85.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:6;
}
#_idContainer061 {
	-ms-transform:translate(311.244px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.244px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:173.70px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(311.244px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.244px,109.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:75.43px;
	z-index:4;
}
#_idContainer062 {
	display:inline-block;
	height:283px;
	position:relative;
	width:387px;
}
#_idContainer067 {
	-ms-transform:translate(0.000px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.92px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:12;
}
#_idContainer068 {
	-ms-transform:translate(0.436px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.436px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.436px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.436px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:7;
}
#_idContainer069 {
	-ms-transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer070 {
	-ms-transform:translate(35.449px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.449px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.449px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.449px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:22;
}
#_idContainer071 {
	-ms-transform:translate(36.283px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.283px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.283px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.283px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:4;
}
#_idContainer072 {
	-ms-transform:translate(345.476px,38.820px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.476px,38.820px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:308.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.476px,38.820px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.476px,38.820px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:6;
}
#_idContainer073 {
	-ms-transform:translate(78.371px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.371px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(78.371px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.371px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:8;
}
#_idContainer074 {
	-ms-transform:translate(79.579px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.579px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(79.579px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.579px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:13;
}
#_idContainer075 {
	-ms-transform:translate(113.820px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(113.820px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.820px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(113.820px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:21;
}
#_idContainer076 {
	-ms-transform:translate(114.654px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.654px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.654px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.654px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:2;
}
#_idContainer077 {
	-ms-transform:translate(152.059px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(152.059px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(152.059px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(152.059px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:82.18px;
	z-index:14;
}
#_idContainer078 {
	-ms-transform:translate(158.030px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.030px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(158.030px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.030px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:9;
}
#_idContainer079 {
	-ms-transform:translate(192.316px,27.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.316px,27.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.316px,27.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.316px,27.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:17;
}
#_idContainer080 {
	-ms-transform:translate(192.316px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.316px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.316px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.316px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:18;
}
#_idContainer081 {
	-ms-transform:translate(193.150px,28.694px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(193.150px,28.694px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(193.150px,28.694px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(193.150px,28.694px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer082 {
	-ms-transform:translate(234.242px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(234.242px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(234.242px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(234.242px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.66px;
	z-index:15;
}
#_idContainer083 {
	-ms-transform:translate(239.287px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(239.287px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(239.287px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(239.287px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:10;
}
#_idContainer084 {
	-ms-transform:translate(270.937px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(270.937px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(270.937px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(270.937px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:19;
}
#_idContainer085 {
	-ms-transform:translate(271.646px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(271.646px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(271.646px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(271.646px,38.974px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:3;
}
#_idContainer086 {
	-ms-transform:translate(310.110px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(310.110px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(310.110px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(310.110px,57.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:11;
}
#_idContainer087 {
	-ms-transform:translate(311.854px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.854px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(311.854px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.854px,79.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:16;
}
#_idContainer088 {
	-ms-transform:translate(344.392px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(344.392px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(344.392px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(344.392px,51.547px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:20;
}
#_idContainer089 {
	-ms-transform:translate(345.226px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.226px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.226px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.226px,38.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:5;
}
#_idContainer090 {
	display:inline-block;
	height:199px;
	position:relative;
	width:384px;
}
#_idContainer091 {
	-ms-transform:translate(0.000px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:12;
}
#_idContainer092 {
	-ms-transform:translate(0.436px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.436px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.436px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.436px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:7;
}
#_idContainer093 {
	-ms-transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.314px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:6;
}
#_idContainer094 {
	-ms-transform:translate(35.449px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.449px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.449px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.449px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:22;
}
#_idContainer095 {
	-ms-transform:translate(36.283px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.283px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.283px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.283px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:3;
}
#_idContainer096 {
	-ms-transform:translate(345.476px,37.178px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.476px,37.178px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:308.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.476px,37.178px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.476px,37.178px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:5;
}
#_idContainer097 {
	-ms-transform:translate(77.766px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(77.766px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(77.766px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(77.766px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:8;
}
#_idContainer098 {
	-ms-transform:translate(78.975px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.975px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(78.975px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.975px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:13;
}
#_idContainer099 {
	-ms-transform:translate(113.820px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(113.820px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.820px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(113.820px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:21;
}
#_idContainer100 {
	-ms-transform:translate(114.654px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.654px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.654px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.654px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer101 {
	-ms-transform:translate(157.196px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(157.196px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(157.196px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(157.196px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:9;
}
#_idContainer102 {
	-ms-transform:translate(159.159px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(159.159px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(159.159px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(159.159px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:14;
}
#_idContainer103 {
	-ms-transform:translate(192.316px,26.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.316px,26.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.316px,26.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.316px,26.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:17;
}
#_idContainer104 {
	-ms-transform:translate(192.316px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.316px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.316px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.316px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:18;
}
#_idContainer105 {
	-ms-transform:translate(193.150px,27.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(193.150px,27.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(193.150px,27.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(193.150px,27.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:0;
}
#_idContainer106 {
	-ms-transform:translate(235.133px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(235.133px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(235.133px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(235.133px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:10;
}
#_idContainer107 {
	-ms-transform:translate(236.092px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(236.092px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(236.092px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(236.092px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:15;
}
#_idContainer108 {
	-ms-transform:translate(270.937px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(270.937px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(270.937px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(270.937px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:19;
}
#_idContainer109 {
	-ms-transform:translate(271.646px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(271.646px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(271.646px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(271.646px,37.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:2;
}
#_idContainer110 {
	-ms-transform:translate(308.484px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(308.484px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(308.484px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(308.484px,56.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:11;
}
#_idContainer111 {
	-ms-transform:translate(309.401px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(309.401px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(309.401px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(309.401px,78.660px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:72.57px;
	z-index:16;
}
#_idContainer112 {
	-ms-transform:translate(344.392px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(344.392px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(344.392px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(344.392px,49.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.92px;
	z-index:20;
}
#_idContainer113 {
	-ms-transform:translate(345.226px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.226px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.226px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.226px,37.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:4;
}
#_idContainer114 {
	display:inline-block;
	height:175px;
	position:relative;
	width:382px;
}
#_idContainer116, #_idContainer121, #_idContainer125, #_idContainer129, #_idContainer130, #_idContainer134, #_idContainer138, #_idContainer142 {
	display:inline-block;
	height:2px;
	position:relative;
	width:2px;
}
#_idContainer117, #_idContainer122, #_idContainer126, #_idContainer135, #_idContainer139, #_idContainer143 {
	display:inline-block;
	height:14px;
	position:relative;
	width:0px;
}
#_idContainer118 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:346px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:0px;
}
#_idContainer131 {
	display:inline-block;
	height:33px;
	position:relative;
	width:0px;
}
div._idGenObjectAttribute-1 {
	height:20px;
	width:28px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:-173px 173px -173px 173px;
}
