body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Paragraph-Style-1 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:37px;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-2 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-3 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.192;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-4 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Character-Style-1 {
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.Character-Style-2 {
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.Character-Style-3 {
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.Character-Style-4 {
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-bottom:0px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-2 {
	margin-bottom:0px;
}
p.ParaOverride-3 {
	margin-bottom:11px;
	text-align:right;
}
p.ParaOverride-4 {
	margin-bottom:11px;
}
p.ParaOverride-5 {
	margin-top:0px;
}
p.ParaOverride-6 {
	text-indent:33px;
}
p.ParaOverride-7 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-8 {
	margin-top:6px;
}
p.ParaOverride-9 {
	margin-bottom:6px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-bottom:11px;
	margin-top:0px;
}
p.ParaOverride-11 {
	text-indent:31px;
}
p.ParaOverride-12 {
	text-indent:32px;
}
p.ParaOverride-13 {
	margin-bottom:9px;
}
p.ParaOverride-14 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-15 {
	text-indent:85px;
}
p.ParaOverride-16 {
	margin-bottom:9px;
	text-align:right;
}
p.ParaOverride-17 {
	text-indent:0px;
}
p.ParaOverride-18 {
	text-align:right;
}
span.CharOverride-1 {
	font-size:10px;
	vertical-align:super;
}
span.CharOverride-2 {
	font-size:9px;
	vertical-align:super;
}
span.CharOverride-3 {
	font-size:13px;
}
span.CharOverride-4 {
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	font-size:17px;
}
span.CharOverride-7 {
	font-size:18px;
}
span.CharOverride-8 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-11 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-size:10px;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.CharOverride-13 {
	font-size:12px;
	vertical-align:super;
}
span.CharOverride-14 {
	font-size:13px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	display:inline-block;
	height:680px;
	width:496px;
}
#_idContainer004, #_idContainer007, #_idContainer010, #_idContainer013, #_idContainer016, #_idContainer019, #_idContainer022, #_idContainer025, #_idContainer028, #_idContainer031, #_idContainer034, #_idContainer037, #_idContainer040, #_idContainer043, #_idContainer046, #_idContainer049, #_idContainer052, #_idContainer055, #_idContainer058, #_idContainer061, #_idContainer064, #_idContainer067, #_idContainer070, #_idContainer073, #_idContainer076, #_idContainer079, #_idContainer082, #_idContainer085, #_idContainer088, #_idContainer091, #_idContainer094, #_idContainer097, #_idContainer100, #_idContainer103, #_idContainer106, #_idContainer109, #_idContainer112, #_idContainer115, #_idContainer118, #_idContainer121, #_idContainer124, #_idContainer127, #_idContainer130, #_idContainer133, #_idContainer136, #_idContainer141, #_idContainer144, #_idContainer150, #_idContainer153, #_idContainer156, #_idContainer159, #_idContainer162, #_idContainer165, #_idContainer168, #_idContainer171, #_idContainer174, #_idContainer177, #_idContainer180, #_idContainer186, #_idContainer189, #_idContainer192, #_idContainer197, #_idContainer209, #_idContainer212, #_idContainer220, #_idContainer223, #_idContainer226, #_idContainer229, #_idContainer232, #_idContainer235, #_idContainer238, #_idContainer241, #_idContainer244, #_idContainer247, #_idContainer250, #_idContainer253, #_idContainer256, #_idContainer259, #_idContainer262, #_idContainer265, #_idContainer268, #_idContainer271, #_idContainer274, #_idContainer277 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:112.89px;
	z-index:1;
}
#_idContainer005, #_idContainer008, #_idContainer011, #_idContainer014, #_idContainer020, #_idContainer026, #_idContainer029, #_idContainer032, #_idContainer035, #_idContainer038, #_idContainer041, #_idContainer044, #_idContainer050, #_idContainer053, #_idContainer056, #_idContainer059, #_idContainer062, #_idContainer065, #_idContainer068, #_idContainer071, #_idContainer074, #_idContainer077, #_idContainer080, #_idContainer083, #_idContainer086, #_idContainer089 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.25px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer006, #_idContainer009, #_idContainer012, #_idContainer015, #_idContainer021, #_idContainer027, #_idContainer030, #_idContainer033, #_idContainer036, #_idContainer039, #_idContainer042, #_idContainer045, #_idContainer051, #_idContainer054, #_idContainer057, #_idContainer060, #_idContainer063, #_idContainer066, #_idContainer069, #_idContainer072, #_idContainer075, #_idContainer078, #_idContainer081, #_idContainer084, #_idContainer087, #_idContainer090 {
	display:inline-block;
	height:67px;
	position:relative;
	width:354px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.12px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer018 {
	display:inline-block;
	height:115px;
	position:relative;
	width:354px;
}
#_idContainer023 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.55px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer024 {
	display:inline-block;
	height:84px;
	position:relative;
	width:354px;
}
#_idContainer047 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.34px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer048 {
	display:inline-block;
	height:90px;
	position:relative;
	width:354px;
}
#_idContainer092 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.90px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.17px;
	z-index:0;
}
#_idContainer093 {
	display:inline-block;
	height:120px;
	position:relative;
	width:354px;
}
#_idContainer095 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer096 {
	display:inline-block;
	height:104px;
	position:relative;
	width:354px;
}
#_idContainer098, #_idContainer101 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.96px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer099, #_idContainer102 {
	display:inline-block;
	height:147px;
	position:relative;
	width:354px;
}
#_idContainer104, #_idContainer107, #_idContainer110, #_idContainer113, #_idContainer116, #_idContainer119, #_idContainer122, #_idContainer125, #_idContainer128, #_idContainer131, #_idContainer134, #_idContainer137, #_idContainer142, #_idContainer145, #_idContainer151, #_idContainer154, #_idContainer157, #_idContainer160, #_idContainer163, #_idContainer166, #_idContainer169, #_idContainer172, #_idContainer175, #_idContainer178, #_idContainer181, #_idContainer187, #_idContainer190, #_idContainer193, #_idContainer198, #_idContainer210, #_idContainer213, #_idContainer221, #_idContainer224, #_idContainer227, #_idContainer230, #_idContainer233, #_idContainer236, #_idContainer239, #_idContainer242, #_idContainer245, #_idContainer248, #_idContainer251, #_idContainer254, #_idContainer257, #_idContainer260, #_idContainer263, #_idContainer266, #_idContainer269, #_idContainer272, #_idContainer275, #_idContainer278 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.06px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer105, #_idContainer108, #_idContainer111, #_idContainer114, #_idContainer117, #_idContainer120, #_idContainer123, #_idContainer126, #_idContainer129, #_idContainer132, #_idContainer135, #_idContainer138, #_idContainer143, #_idContainer146, #_idContainer152, #_idContainer155, #_idContainer158, #_idContainer161, #_idContainer164, #_idContainer167, #_idContainer170, #_idContainer173, #_idContainer176, #_idContainer179, #_idContainer182, #_idContainer188, #_idContainer191, #_idContainer194, #_idContainer199, #_idContainer211, #_idContainer214, #_idContainer222, #_idContainer225, #_idContainer228, #_idContainer231, #_idContainer234, #_idContainer237, #_idContainer240, #_idContainer243, #_idContainer246, #_idContainer249, #_idContainer252, #_idContainer255, #_idContainer258, #_idContainer261, #_idContainer264, #_idContainer267, #_idContainer270, #_idContainer273, #_idContainer276, #_idContainer279 {
	display:inline-block;
	height:91px;
	position:relative;
	width:354px;
}
#_idContainer139 {
	-ms-transform:translate(131.100px,33.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(131.100px,33.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.13px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(131.100px,33.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(131.100px,33.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:92.13px;
	z-index:1;
}
#_idContainer140 {
	display:inline-block;
	height:524px;
	position:relative;
	width:354px;
}
#_idContainer147, #_idContainer183 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.67px;
	z-index:1;
}
#_idContainer148, #_idContainer184 {
	-ms-transform:translate(0.000px,5.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.50px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer149, #_idContainer185 {
	display:inline-block;
	height:76px;
	position:relative;
	width:354px;
}
#_idContainer195 {
	-ms-transform:translate(115.937px,334.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(115.937px,334.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.91px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(115.937px,334.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(115.937px,334.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:122.46px;
	z-index:1;
}
#_idContainer196 {
	display:inline-block;
	height:485px;
	position:relative;
	width:354px;
}
#_idContainer200 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.41px;
	z-index:0;
}
#_idContainer201 {
	-ms-transform:translate(0.054px,103.570px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.054px,103.570px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:51.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.054px,103.570px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.054px,103.570px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.41px;
	z-index:1;
}
#_idContainer202 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.46px;
	z-index:2;
}
#_idContainer203 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.41px;
	z-index:0;
}
#_idContainer204 {
	-ms-transform:translate(0.054px,102.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.054px,102.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:50.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.054px,102.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.054px,102.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.41px;
	z-index:1;
}
#_idContainer205 {
	-ms-transform:translate(0.652px,105.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.652px,105.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:102.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.652px,105.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.652px,105.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.46px;
	z-index:3;
}
#_idContainer206 {
	-ms-transform:translate(16.028px,42.672px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.028px,42.672px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(16.028px,42.672px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.028px,42.672px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.88px;
	z-index:1;
}
#_idContainer207 {
	-ms-transform:translate(16.028px,147.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.028px,147.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(16.028px,147.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.028px,147.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.88px;
	z-index:0;
}
#_idContainer208 {
	display:inline-block;
	height:208px;
	position:relative;
	width:148px;
}
#_idContainer215 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.33px;
	z-index:0;
}
#_idContainer216 {
	-ms-transform:translate(0.033px,38.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.033px,38.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:18.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.033px,38.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.033px,38.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.33px;
	z-index:1;
}
#_idContainer217 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.36px;
	z-index:0;
}
#_idContainer218 {
	-ms-transform:translate(13.651px,4.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.651px,4.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.72px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(13.651px,4.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.651px,4.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:233.94px;
	z-index:1;
}
#_idContainer219 {
	display:inline-block;
	height:40px;
	position:relative;
	width:248px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#e6e7e8;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#ffffff;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
