body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Paragraph-Style-1 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:37px;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-2 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Paragraph-Style-3 {
	color:#000000;
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.192;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Character-Style-1 {
	font-family:"UPC-Dillenia", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.Character-Style-2 {
	font-family:"UPC-Dillenia", serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.Character-Style-3 {
	font-family:"UPC-Dillenia", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-2 {
	margin-bottom:11px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-3 {
	text-indent:57px;
}
p.ParaOverride-4 {
	margin-bottom:0px;
}
p.ParaOverride-5 {
	margin-bottom:23px;
}
p.ParaOverride-6 {
	margin-bottom:11px;
}
p.ParaOverride-7 {
	margin-bottom:28px;
}
p.ParaOverride-8 {
	text-align:right;
}
p.ParaOverride-9 {
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-bottom:6px;
}
p.ParaOverride-11 {
	text-indent:32px;
}
p.ParaOverride-12 {
	text-align:right;
	text-indent:142px;
}
p.ParaOverride-13 {
	margin-top:6px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-bottom:0px;
	text-align:justify;
	text-align-last:left;
}
span.CharOverride-1 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-size:10px;
	vertical-align:super;
}
span.CharOverride-3 {
	font-size:12px;
	vertical-align:super;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-size:9px;
	vertical-align:super;
}
span.CharOverride-6 {
	font-size:18px;
}
#_idContainer000 {
	display:inline-block;
	height:683px;
	width:496px;
}
#_idContainer005, #_idContainer045, #_idContainer048, #_idContainer051 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:112.89px;
	z-index:1;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:165.41px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer007 {
	display:inline-block;
	height:165px;
	position:relative;
	width:354px;
}
#_idContainer009, #_idContainer010, #_idContainer037, #_idContainer038, #_idContainer040, #_idContainer042, #_idContainer044 {
	display:inline-block;
	height:0px;
	position:relative;
	width:70px;
}
#_idContainer013, #_idContainer016 {
	display:inline-block;
	height:680px;
	width:482px;
}
#_idContainer014 {
	display:inline-block;
	height:140px;
	width:418px;
}
#_idContainer015 {
	display:inline-block;
	height:135px;
	width:418px;
}
#_idContainer017 {
	display:inline-block;
	height:269px;
	width:411px;
}
#_idContainer018 {
	display:inline-block;
	height:273px;
	width:411px;
}
#_idContainer019 {
	display:inline-block;
	height:296px;
	width:468px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:311.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:467.72px;
	z-index:0;
}
#_idContainer021 {
	-ms-transform:translate(402.519px,68.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(402.519px,68.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(402.519px,68.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(402.519px,68.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.41px;
	z-index:1;
}
#_idContainer022 {
	-ms-transform:translate(402.519px,228.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(402.519px,228.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(402.519px,228.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(402.519px,228.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.41px;
	z-index:2;
}
#_idContainer023 {
	display:inline-block;
	height:312px;
	position:relative;
	width:468px;
}
#_idContainer024, #_idContainer027, #_idContainer030, #_idContainer033, #_idContainer035 {
	display:inline-block;
	height:669px;
	width:461px;
}
#_idContainer025, #_idContainer028 {
	display:inline-block;
	height:669px;
	width:476px;
}
#_idContainer026, #_idContainer029 {
	display:inline-block;
	height:675px;
	width:23px;
}
#_idContainer031 {
	display:inline-block;
	height:675px;
	width:482px;
}
#_idContainer032 {
	display:inline-block;
	height:686px;
	width:23px;
}
#_idContainer034 {
	display:inline-block;
	height:675px;
	width:464px;
}
#_idContainer046, #_idContainer049 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.25px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer047, #_idContainer050 {
	display:inline-block;
	height:67px;
	position:relative;
	width:354px;
}
#_idContainer052 {
	-ms-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.46px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:354.33px;
	z-index:0;
}
#_idContainer053 {
	display:inline-block;
	height:59px;
	position:relative;
	width:354px;
}
#_idContainer055 {
	display:inline-block;
	height:0px;
	position:relative;
	width:34px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#e6e7e8;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#6d6e71;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
